<header class="site-header">
  <div class="site-container">
    {{ page.header }}
  </div>
</header>

<main class="site-content" role="main">
  <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
  {{ page.content }}
</main>

<footer class="site-footer">
  {{ page.footer }}
</footer>
